body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  .progress-pictures {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .progress-picture {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  .progress-picture img {
    width: 100%;
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    .progress-picture {
      width: calc(50% - 20px);
    }
  }
  
  .log-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #0046FA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .log-button:hover {
    background-color: #0039c6;
  }