.menu-container 
{
  display: flex;
  align-items: flex-start;
  justify-content:space-between;

}
  
  .menu-button {
    background-color: transparent;
    color: blue;
    font-size: x-large;
    border: none;
    cursor: pointer;
  }


  .menu-button-left {
   align-self: flex-start;
  }

  .menu-button-left a:visited{
    color: blue;
    text-decoration: none;
  }

  .menu-button-left a{
    color: blue;
    text-decoration: none;
  }

  .menu-button-right 
  {
    align-self: flex-end;
    justify-self: flex-end;
  }

  
  .menu {
    background-color: blue;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
  }
  
  


  .menu a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  .menu a:visited
  {
    color: #fff;
    text-decoration: none;
  }
  
  .menu a:hover {
    background-color: blue;
  }
  