.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    width: 100%;
}

.chat-selector {
    width: 20%; /* Adjust the width for larger screens */
    background-color: #f2f2f2;
    overflow-y: auto;
    border-right: 1px solid #ccc;
}

.chat-selector.collapsed {
    width: 0; /* Collapse the chat selector on smaller screens */
    overflow: hidden;
}

.chat-selector-header {
    padding: 10px;
    background-color: #a9d1cf;
    color: white;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.chat-item {
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.chat-item:hover, .chat-item.active {
    background-color: #84aca9;
    color: white;
}

.chatbox {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    max-width: 80%;
    margin-bottom: 4px;
    padding: 8px;
    border-radius: 15px;
    line-height: 1.5;
    word-wrap: break-word;
}

.message.sent {
    align-self: flex-end;
    background-color: #84aca9;
    color: #ffffff;
}

.message.received {
    align-self: flex-start;
    background-color: #dadedf;
    color: #555f61;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #fff;
    border-top: 1px solid #ccc;
}

.chat-input input {
    flex: 1;
    margin-right: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.chat-input button {
    padding: 10px 15px;
    background-color: #84aca9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.icon-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 0 -1px;
}

.chat-title {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
}

.chat-actions {
    display: flex;
    justify-content: flex-end;
    width: 100px;
}

.new-chat-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px;
    margin-left: auto;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #84aca9;
    color: white;
}

.chat-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        flex-direction: row; /* Change flex direction for smaller screens */
    }

    .chat-selector {
        width: auto; /* Allow the chat selector to adjust its width */
    }

    .chatbox {
        flex-grow: 1; /* Let the chatbox take up the remaining space */
    }

    .chat-selector.collapsed {
        width: 0; /* Ensure the chat selector is collapsed initially */
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #a7c1c0;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding:10px;
}

.chat-title:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust the margin as needed */
    padding-bottom: 10px; /* Add padding-bottom for better spacing */
    border-bottom: 2.5px solid #ffffff; /* Add border-bottom for divider */
}

.dropdown-item:last-child {
    margin-bottom: 0; /* Remove margin-bottom for the last item */
    border-bottom: none; /* Remove border-bottom for the last item */

}

.dropdown-item img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.dropdown-item span {
    font-size: 16px; /* Adjust font size as needed */
}

.dropdown-item:hover {
    background-color: #ddd; /* Add hover effect */
}

.dropdown-icon {
    margin-left: 5px;
    transition: transform 0.3s ease; /* Add transition for smooth rotation */
}

.rotate {
    transform: rotate(180deg); /* Rotate the dropdown icon when dropdown is open */
}

.bold {
    font-weight: bold;
}
